body {
  background-color: black;
  color: #55ff55;
  font-family: monospace;
}
.output {
  color: white;
}
.output a{
	color: yellow;
}
.output a:visited{
	color: yellow;
}
.active:after {
  content: '_';
}
img{
	display: none;
	
}